<div {{bind-attr class=":full status"}}>
	<div class="settings">
		<span class="iconicstroke-wrench" {{action 'toggleEdit'}}></span>
		<span class="iconicstroke-fullscreen" {{action 'toggleFullscreen'}}></span>
		<span class="iconicstroke-fullscreen-exit" {{action 'toggleFullscreen'}}></span>
		{{#if isEditing}}
			<div>
				<h1>SETTINGS</h1>
				run for {{input value=start size="2"}} minutes<br>
				warn at {{input value=warn size="2"}} minutes<br>
				error at {{input value=error size="2"}} minutes<br>
			</div>
		{{/if}}
	</div>
	<div class="wrapper">
		<div class="timer">
			{{#big-text}}
				<div>{{format-time displayCountdown}}</div>
			{{/big-text}}
			{{#if isReady}}<span class="iconicstroke-play" {{action 'start'}}></span>{{/if}}
			{{#if isRunning}}<span class="iconicstroke-pause" {{action 'pause'}}></span>{{/if}}
			{{#if isPaused}}<span  class="iconicstroke-play" {{action 'resume'}}></span>{{/if}}
			&nbsp;
			<span class="iconicstroke-stop" {{action 'reset'}}></span>
		</div>
	</div>
</div>